@font-face {
    font-family: AvenirNext-Medium;
    src: url(AvenirNext-Medium.ttf);
}

@font-face {
    font-family: AvenirNext-Regular;
    src: url(AvenirNext-Regular.ttf);
}

body,html{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    font-size: 16px;
    top:0;
    left:0;
    font-family: "AvenirNext-Regular";
}

p{
    margin-top:0;
}

li{
    margin-bottom: 10px;
}

input[type='radio']{
    margin:0 9px;
    cursor: pointer;
}

button{
    background: #ff8d00;
    color:white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border:none;
    margin-bottom: 10px;
    cursor: pointer;
}

hr{
    background: rgba(0,0,0,0.2);
    border:none;
    height: 1px;
    width: 100%;
}

button:hover{
    opacity: 0.9;
}

a{
    text-decoration: none;
    color:rgb(0,0,0);
    display: block;
}

#Container{
    width: 600px;
    margin: 10px auto;
}

span.number{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    font-family: "AvenirNext-Medium";
    font-size: 10px;
}

.question-title{
    margin-top: 35px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}