doctype html
html
    head
        title SML
        meta(charset='urf-8')
        link(href='css/style.css',rel='stylesheet')
        script(src='js/jquery.js')
        script(src='js/script.js')
    body
        div#Container
            div.header
                p.text-center Dear clients!
                p We would like to get your feedback on our services
                p Please take a few minutes to rate the following criteria:
            form(method='POST')
                hr
                p.question-title Quality of provided development services
                ol.q_1(type='a')
                    li
                        p Speed of development
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_1_a',value='1')
                        input(type='radio',name='question_1_a',value='2')
                        input(type='radio',name='question_1_a',value='3')
                        input(type='radio',name='question_1_a',value='4')
                        input(type='radio',name='question_1_a',value='5')
                        input(type='radio',name='question_1_a',value='6')
                        input(type='radio',name='question_1_a',value='7')
                        input(type='radio',name='question_1_a',value='8')
                        input(type='radio',name='question_1_a',value='9')
                        input(type='radio',name='question_1_a',value='10')
                    li
                        p Design adaptation
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_1_b',value='1')
                        input(type='radio',name='question_1_b',value='2')
                        input(type='radio',name='question_1_b',value='3')
                        input(type='radio',name='question_1_b',value='4')
                        input(type='radio',name='question_1_b',value='5')
                        input(type='radio',name='question_1_b',value='6')
                        input(type='radio',name='question_1_b',value='7')
                        input(type='radio',name='question_1_b',value='8')
                        input(type='radio',name='question_1_b',value='9')
                        input(type='radio',name='question_1_b',value='10')
                    li
                        p Repeated crashes of the application
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_1_c',value='1')
                        input(type='radio',name='question_1_c',value='2')
                        input(type='radio',name='question_1_c',value='3')
                        input(type='radio',name='question_1_c',value='4')
                        input(type='radio',name='question_1_c',value='5')
                        input(type='radio',name='question_1_c',value='6')
                        input(type='radio',name='question_1_c',value='7')
                        input(type='radio',name='question_1_c',value='8')
                        input(type='radio',name='question_1_c',value='9')
                        input(type='radio',name='question_1_c',value='10')
                hr
                p.question-title Quality of provided managment services
                ol.q_2(type='a')
                    li
                        p Speed of responsiveness
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_2_a',value='1')
                        input(type='radio',name='question_2_a',value='2')
                        input(type='radio',name='question_2_a',value='3')
                        input(type='radio',name='question_2_a',value='4')
                        input(type='radio',name='question_2_a',value='5')
                        input(type='radio',name='question_2_a',value='6')
                        input(type='radio',name='question_2_a',value='7')
                        input(type='radio',name='question_2_a',value='8')
                        input(type='radio',name='question_2_a',value='9')
                        input(type='radio',name='question_2_a',value='10')
                    li
                        p Understanding of requirements
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_2_b',value='1')
                        input(type='radio',name='question_2_b',value='2')
                        input(type='radio',name='question_2_b',value='3')
                        input(type='radio',name='question_2_b',value='4')
                        input(type='radio',name='question_2_b',value='5')
                        input(type='radio',name='question_2_b',value='6')
                        input(type='radio',name='question_2_b',value='7')
                        input(type='radio',name='question_2_b',value='8')
                        input(type='radio',name='question_2_b',value='9')
                        input(type='radio',name='question_2_b',value='10')
                    li
                        p Compliance with expectations
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_2_c',value='1')
                        input(type='radio',name='question_2_c',value='2')
                        input(type='radio',name='question_2_c',value='3')
                        input(type='radio',name='question_2_c',value='4')
                        input(type='radio',name='question_2_c',value='5')
                        input(type='radio',name='question_2_c',value='6')
                        input(type='radio',name='question_2_c',value='7')
                        input(type='radio',name='question_2_c',value='8')
                        input(type='radio',name='question_2_c',value='9')
                        input(type='radio',name='question_2_c',value='10')
                hr
                p.question-title And 2 last questions:
                ol(type='1')
                    li
                        p Will you contact our company again?
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_3',value='1')
                        input(type='radio',name='question_3',value='2')
                        input(type='radio',name='question_3',value='3')
                        input(type='radio',name='question_3',value='4')
                        input(type='radio',name='question_3',value='5')
                        input(type='radio',name='question_3',value='6')
                        input(type='radio',name='question_3',value='7')
                        input(type='radio',name='question_3',value='8')
                        input(type='radio',name='question_3',value='9')
                        input(type='radio',name='question_3',value='10')

                    li
                        p Will you recommend our company to your friends / colleagues / mates ?
                        span.number.text-left 1
                        span.number.text-left 10
                        input(type='radio',name='question_4',value='1')
                        input(type='radio',name='question_4',value='2')
                        input(type='radio',name='question_4',value='3')
                        input(type='radio',name='question_4',value='4')
                        input(type='radio',name='question_4',value='5')
                        input(type='radio',name='question_4',value='6')
                        input(type='radio',name='question_4',value='7')
                        input(type='radio',name='question_4',value='8')
                        input(type='radio',name='question_4',value='9')
                        input(type='radio',name='question_4',value='10')
                div.text-center
                    button(type='submit') Send
                p.text-center Thanks you!
                a.text-center(href='http://smedialink.com',target='_blank') S Media Link team