doctype html
html
    head
        meta(charset='urf-8')
        title SML
        link(href='../css/adm.css',rel='stylesheet')
        script(src='js/moment.js')
    body
        p Сортировка по периоду
        form(method='POST')
            select(name='q')
                if q == 'q1.q_a'
                    option(value='q1.q_a' selected) Question 1a
                else
                    option(value='q1.q_a') Question 1a
                if q == 'q1.q_b'
                    option(value='q1.q_b' selected) Question 1b
                else
                    option(value='q1.q_b') Question 1b
                if q == 'q1.q_c'
                    option(value='q1.q_c' selected) Question 1c
                else
                    option(value='q1.q_c') Question 1c
                if q == 'q2.q_a'
                    option(value='q2.q_a' selected) Question 2a
                else
                    option(value='q2.q_a') Question 2a
                if q == 'q2.q_b'
                    option(value='q2.q_b' selected) Question 2b
                else
                    option(value='q2.q_b') Question 2b
                if q == 'q2.q_c'
                    option(value='q2.q_c' selected) Question 2c
                else
                    option(value='q2.q_c') Question 2c
                if q == 'q3.value'
                    option(value='q3.value' selected) Question 3
                else
                    option(value='q3.value') Question 3
                if q == 'q4.value'
                    option(value='q4.value' selected) Question 4
                else
                    option(value='q4.value') Question 4
                if q == 'r.sum'
                    option(value='r.sum' selected) all
                else
                    option(value='r.sum') all
            span от
            input(type='number',name='limit_1',min=0,max=80,value=min || 0)
            span до
            input(type='number',name='limit_2',min=0,max=80,value=max || 0)
            br
            if sort == "DESC"
                input(type='radio',name='sort',value='DESC' checked)
            else
                input(type='radio',name='sort',value='DESC')
            | по убыванию
            br
            if sort == "ASC"
                input(type='radio',name='sort',value='ASC' checked)
            else
                input(type='radio',name='sort',value='ASC')
            | по возрастанию
            input(type='submit',value='Сортировать',id='sortAll')
        br
        table(border='1')
            tr
                th User
                th Name
                th Date
                th Question 1a
                th Question 1b
                th Question 1c
                th Question 2a
                th Question 2b
                th Question 2c
                th Question 3
                th Question 4
                th All
            each elem in arr
                tr
                    td #{elem.value}
                    -var d = new Date(elem.date);
                    if elem.name == null
                        td
                            form(method='POST')
                                input(type='text',name='name__'+elem.id)
                                button(type='submit') Изменить
                    else
                        td #{elem.name}
                    td #{d.getDate()}-#{d.getMonth()+1}-#{d.getFullYear()}
                    td #{elem.q_1_a}
                    td #{elem.q_1_b}
                    td #{elem.q_1_c}
                    td #{elem.q_2_a}
                    td #{elem.q_2_b}
                    td #{elem.q_2_c}
                    td #{elem.q_3}
                    td #{elem.q_4}
                    td #{elem.sum}